input#valns {
    width: 242px;
    line-height: 38px;
    padding-left: 12px;
    font-size: 1em;
    border: 1px solid #3db06a;
    border-radius: 5px;
    margin-right: -92px;
}
.choo{
    width: 242px !important;
    line-height: 38px;
    padding-left: 12px;
    font-size: 1em;
    border: 1px solid #3db06a;
    border-radius: 5px;
}
.ht{
    width: 242px;
    line-height: 38px;
    padding-left: 12px;
    font-size: 1em;
    border: 1px solid #3db06a;
    border-radius: 5px;
    margin-right: -66px;
}
.active{
    background-color: #2e8e54;
height: 44px;
}
.home-pruduct-name{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    /* height: 36px; */
    line-height: 22px;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
}
p.home-pruduct-name.conten-us{
    line-height: 18px;
    display: block;
    height: 54px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.sub_user {
    background-color: #42c174 !important;
    color: #fff !important;
    width: 141px;
    /* text-align: center; */
    height: 28px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    border-radius: 6px;
}

.sub_user:hover {
    background-color: #2e834f !important;
    color: #fff !important;
    width: 141px;
    /* text-align: center; */
    height: 28px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    border-radius: 6px;
}
.notification {
    position: fixed;
    top: 11px;
    right: 192px;
    cursor: pointer;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -5px;
    right: -28px;
    font-size: 12px;
}
.container_list_home {
    flex: 1;
    padding: 20px;
}
.age-selection {
    display: flex;
    align-items: center;
}
.age-selection select {
    margin: 0 10px;
}


.view-info {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button.btn_user_age {
    border-radius: 4px;
    font-size: 0.9rem;
    height: 36px;
    line-height: 36px;
    padding: 0 0.45rem 0 0.5rem;
    cursor: pointer;
    background: white;
    color: #5c6872;
    border: 1px solid #cdd1d4;
}
.age_u {
    border-radius: 4px;
    font-size: 0.9rem;
    height: 36px;
    line-height: 36px;
    padding: 0 0.45rem 0 0.5rem;
    cursor: pointer;
    background: white;
    color: #5c6872;
    border: 1px solid #cdd1d4;
}